@charset "UTF-8";

#header {
	height: 12.5vh;
	padding: 0 3.9%;
}

#games {
	width: 100vw;
	height: 65.5vh;
	font-size: 0;
	text-align: center;
}

.game {
	width: 29.45vw;
	margin-top: 15vh;
	text-align: center;
	display: inline-block;
}

body.big-screen .game {
    margin-top: 20.5vh;
    margin-top: 14.5vh;
}

body.big-screen #games .game:first-child {
	margin-right: 3.9%;
}

.golf-ball {
	left: 0;
    width: 23vw;
    height: 23vw;
	position: relative;
    padding-top: 6vh;
    border-radius: 50%;
    display: inline-block;
	transition: all 2.5s;
	/*
    background-color: #FFF;
    box-shadow: inset -10px -10px 300px -20px #000, 0px 0px 5px 3px black, inset 0px 0px 10px black;
	box-shadow: inset -10px -10px 10vw -20px #000, inset -10px -10px 1vw -20px #000, 0px 0px 5px 3px black, inset 0px 0px 10px black;
	
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../images/dimples.jpg");
	*/
}

.golf-ball.b4-animate {
	left: -100vw;
	transform: rotate(-1080deg);
}

.golf-ball.after-animate {
    border: none;
    box-shadow: none;
    background-image: none;
    background-color: transparent;
}

.game img {
	width: 24vw;
	margin-bottom: 3.5vh;
	transition: all 3s;
}

.game img.b4-animate {
	/*opacity: 0;*/
}

body.small-screen .game img {
	width: 17.5vw;
	height: auto;
}

.game .button {
	color: #FFF;
	padding: 15px 60px;
	border-color: #29793d;
	background-color: #29793d;
}

.back.button {
	background-color: #24362b;
}