@charset "UTF-8";

h3 {
	text-align: center;
	font-weight: normal;
}

body.big-screen h3 {
	opacity: 0;
    font-size: 40px;
    text-align: center;
    font-weight: normal;
}

.w30-w70 .w70 {
	text-align: center;
	padding-top: 15vh;
	padding-left: 0;
	
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../images/checkers.jpg");
}

body.small-screen .w30-w70 .w70 {
	padding-top: 9vh;
}

.w70 .t-center {
    margin-left: 0;
    margin-right: 6.7vw;
}

.w70 p.t-center {
	margin-top: 0.5em;
	margin-bottom: 0;
}

#num-toggle {
	margin: auto;
	margin-bottom: 10px;
}

#num-toggle > div {
	height: 59vh;
	vertical-align: top;
	display: inline-block;
	background-color: #fffbe3;
}

#num {
	width: 59vh;
	color: #29793d;
    font-size: 50vh;
    font-weight: bold;
    line-height: 59vh;
	overflow: hidden;
	border: 2px solid #e6c56f;
	background-color: #fffbe3;
}

body.big-screen #num {
	width: 70vh;
	height: 70vh;
	font-size: 64vh;
	line-height: 70vh;
	border-color: #fffbe3;
}

.num {
    width: 100%;
    height: 59vh;
}

body.big-screen .num {
	height: 70vh;
}

.button.active.no-cred {
	color: #FFF;
    border-color: #f07072;
    background-color: #792929;
}

#toggles {
	width: 11.5vh;
	padding: 0 2vh;
}

#toggles > div {
    height: 48%;
    color: #c3974c;
    font-size: 5vh;
    line-height: 27vh;
    font-weight: bold;
    border: 2px solid #e6c56f;
}

#toggles > div.spacer {
	height: 4%;
	border: none;
}

#toggles > div.active {
	color: #FFF;
	background-color: #e6c56f;
}

p.error {
	color: #79292a;
}

.t-center .button {
	width: 300px;
    padding: 15px 0;
}

.back.button {
	margin-right: 3vh;
}

.back.button {
	background-color: #fffbe3;
}
.back.button.active {
    color: #FFF;
}

#popup b {
    color: #f17171;
    padding-top: 5px;
    display: inline-block;
}

#purchase {
	width: 350px;
	color: #f17171;
	border-color: #f17171;
}
#purchase.active {
	color: #FFF;
	background-color: #f17171;
}

#p-content {
	position: relative;
}

#p-buttons .cancel.button {
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    font-size: 50px;
    line-height: 80px;
    color: #FFF;
    border: none;
    position: absolute;
    background-color: #29793d;
}

#p-buttons .cancel.button.active {
    color: #29793d;
    background-color: #fdfbe3;
}

#keyboard-container .key-left {
	display: none;
}

#credit-info {
    width: 39.5vw;
    height: 240px;
    margin: 10px 0;
    text-align: left;
    overflow: hidden;
    border: 1px solid #fdfbe3;
    background-color: #fffdea;
    box-shadow: inset 0 0 30px -20px #b9b9b9;
}

#slide-scroll {
	height: 240px;
}

#slide-scroll .slide {
    width: 39.5vw;
    height: 100%;
	float: left;
    padding: 0 0px 0 25px;
}

#credit-info .half {
	width: 37%;
	height: 100%;
	padding-top: 20px;
	vertical-align: top;
	display: inline-block;
}

#credit-info .half:first-child {
	width: 56%;
	margin-right: 5%;
}

#credit-info label {
	width: 100%;
	color: #29793d;
	font-size: 26px;
	padding-bottom: 5px;
	display: inline-block;
    font-family: 'DIN2014-Bold';
}

#credit-info input {
    color: #29793d;
    font-size: 24px;
    width: 100%;
    padding: 10px 0px 10px 10px;
    margin-bottom: 18px;
    display: inline-block;
    font-family: 'DIN2014-Regular';
    border: 1px solid #e7c772;
    background-color: #fdfcf3;
}
#credit-info input.error {
	border-color: #FF0000;
}

#cred-amount,
.amount {
    width: 150px;
    height: 150px;
}

#cred-amount {
    color: #2a793d;
    overflow: hidden;
    font-size: 150px;
    line-height: 130px;
    text-align: center;
	margin-right: 10px;
	display: inline-block;
    border: 1px solid #e7c772;
    background-color: #fdfcf3;
    font-family: 'DIN2014-Regular';
}

#cred-toggle {
	height: 150px;
	display: inline-block;
    vertical-align: top;
}

#cred-toggle .up,
#cred-toggle .down {
    width: 90px;
    height: 70px;
    color: #e7c772;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    vertical-align: top;
    border: 1px solid #e7c772;
    background-color: #fdfcf3;
}

#cred-toggle .up.active,
#cred-toggle .down.active {
	color: #fdfcf3;
    background-color: #e7c772;
}

#cred-toggle .up {
	margin-bottom: 10px;
}

#purchase-buttons {
    min-height: 90px;
    margin: 30px 0 10px;
}

#purchase-buttons .button {
	margin-top: 0;
}

#purchase-buttons .close {
	display: none;
}

#purchase-buttons .close, 
#purchase-buttons .proceed {
	color: #29793d;
	border-color: #29793d;
}
#purchase-buttons .close.active,
#purchase-buttons .proceed.active {
	color: #FFF;
	background-color: #29793d;
}

#purchase-buttons .previous {
	display: none;
	color: #e4c771;
	border-color: #e4c771;
	transition: none;
}
#purchase-buttons .previous.active {
	color: #FFF;
	background-color: #e4c771;
}

#credit-info .second.slide .half {
    height: 70%;
    padding-top: 10px;
	padding-left: 25px;
}

.slide h4 {
	margin: 0;
	color: #29793d;
	font-size: 28px;
	padding-top: 20px;
	text-transform: uppercase;
}

#fName, #lName, #cAmount, #cCharge {
	font-size: 30px;
	padding-left: 80px;
}

#cCharge {
    color: #f07171;
    font-size: 40px;
    padding-top: 10px;
    font-family: 'DIN2014-Bold';
}

#swipe-img {
	width: auto;
	height: 100%;
	margin-left: 50px;
}

#credit-info .third.slide {
	text-align: center;
}

.third.slide h4 {
	padding-top: 40px;
}

#slide-scroll .slide.second {
	position: relative;
	padding-left: 0;
}

#processing {
    width: 100%;
    height: 100%;
	display: none;
    position: absolute;
    text-align: center;
	padding-top: 20px;
    background-color: #fffdea;
}

#processing p,
#processing #ldr {
	opacity: 0;
}

#processing.working p,
#processing.working #ldr {
	opacity: 1;
}

#processing p {
    margin: 0.35em 0;
    font-family: 'DIN2014-Regular';
}

#processing #err {
    color: red;
    font-size: 22px;
    font-family: 'DIN2014-Demi';
}