@charset "UTF-8";

@font-face {
    font-family: 'DIN2014-light';
    src: url('../font/DIN2014-Light.eot');
    src: url('../font/DIN2014-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/DIN2014-Light.woff') format('woff'),
        url('../font/DIN2014-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN2014-Regular';
    src: url('../font/DIN2014-Regular.eot');
    src: url('../font/DIN2014-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/DIN2014-Regular.woff') format('woff'),
        url('../font/DIN2014-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN2014-Demi';
    src: url('../font/DIN2014-Demi.eot');
    src: url('../font/DIN2014-Demi.eot?#iefix') format('embedded-opentype'),
        url('../font/DIN2014-Demi.woff') format('woff'),
        url('../font/DIN2014-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN2014-Bold';
    src: url('../font/DIN2014-Bold.eot');
    src: url('../font/DIN2014-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/DIN2014-Bold.woff') format('woff'),
        url('../font/DIN2014-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../images/bg-dark.jpg");
}

*,
*:before,
*:after {
	box-sizing: inherit;
	-webkit-user-select: none;
}

body {
	font-family: 'DIN2014-Regular', "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

#black-fade {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 5000;
	position: absolute;
	background-color: #000;
}

h1, h2, h3, h4, h5 {
	text-align: center;
    font-family: 'DIN2014-Bold';
}

h1 {
	font-size: 50px;
}

h2 {
	color: #e4c771;
	font-size: 44px;
    font-size: 2.3vw;
	font-weight: lighter;
	text-transform: uppercase;
}

h3 {
	color: #29793d;
	font-size: 30px;
	font-size: 1.6vw;
	text-align: left;
    line-height: 100%;
	text-transform: uppercase;
}

a, .button {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.button {
	color: #e4c771;
	margin: 20px 0;
	font-size: 30px;
	padding: 15px 80px;
	display: inline-block;
	border: 2px solid #e4c771;
	text-transform: uppercase;
    font-family: 'DIN2014-Demi';
	transition: opacity 1.5s;
}
.button.b4-animate {
	opacity: 0;
}

.game .button.active {
	color: #24362b;
	border-color: #71f175;
    background-color: #71f175;
}

.back.button.active {
	color: #FFF;
	background-color: #e4c771;
}

.w70 .button.active {
    border-color: #e4c771;
    background-color: #e4c771;
}

.large.button {
    color: #FFF;
    font-size: 50px;
    padding: 20px 130px;
	border-width: 5px;
    border-color: #6ff176;
    background-color: #29793d;
}

.next.button {
	color: #FFF;
    padding: 15px 100px;
	border-color: #29783e;
	background-color: #29783e;
}

.next.button.active {
	color: #24362b;
	border-color: #71f175;
	background-color: #71f175;
}

.t-center {
	text-align: center;
}

p {
	color: #e4c771;
	font-size: 30px;
	text-transform: uppercase;
    font-family: 'DIN2014-light';
}

p.available {
	margin-top: 80px;
}

#header #g-logo {
    width: auto;
    height: 12vh;
    max-height: 259px;
}

.w30-w70 {
	font-size: 0;
	vertical-align: top;
}

.w30-w70 .w30,
.w30-w70 .w70 {
    height: 100vh;
    vertical-align: top;
    display: inline-block;
}

.w30-w70 .w30 {
    width: 33vw;
    text-align: center;
}

.w30-w70 .w30 #header {
    height: 12.5vh;
	text-align: left;
	padding-left: 3.9vw;
}

.w30-w70 .w70 {
    width: 67vw;
    font-size: 16px;
    padding-left: 7vw;
    background-color: #fffbe3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../images/bg-light.jpg");
}

.w30-w70 .w70 .instructions {
    height: 74vh;
    display: table;
    padding-top: 16vh;
}

.w30-w70 .w70 .instructions .center {
	padding-left: 4vw;
    display: table-cell;
    vertical-align: middle;
}

.w30 #game-img {
    width: 20vw;
    height: auto;
    margin-top: 19.5vh;
}

.w70 .t-center {
	margin-left: -7vw;
}

#w-logo {
	transition: all 2s;
}

#w-logo.b4-animate {
    width: 0 !important;
    transform: rotate(1080deg);
}

h3.playHere > span {
	left: 0;
	position: relative;
	transition: all 1.25s;
	display: inline-block;
    white-space: break-spaces;
}

h3.playHere.b4-animate .play {
	left: -50vw;
}
h3.playHere.b4-animate .legend {
	left: 60vw;
}

/* POP UP STYLES */

body.open-pop-up {
	position: relative;
}

#popup {
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
    z-index: 1000;
	position: absolute;
}

#p-table {
	width: 100vw;
	height: 100vh;
	display: table;
}

#p-container {
    width: 100%;
    height: 100%;
	text-align: center;
    display: table-cell;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 50%);
}

#p-content {
	max-width: 45%;
	display: inline-block;
	padding: 20px 50px 40px;
	background-color: #fffbe3;
}

#p-content h1 {
	color: #29793d;
	text-transform: uppercase;
}

#p-content p {
    color: #23372c;
    font-size: 24px;
    line-height: 120%;
    text-transform: none;
}